# Node
node_modules/
.pnpm-store/
.DS_Store
.env
.env.*
dist/
build/
coverage/
.tmp/
.cache/
.next/
.expo/
expo-build/
debug/
logs/
*.log
pnpm-lock.yaml

# Expo
.expo-shared/
android/
ios/

# Prisma
prisma/migrations/
apps/api/prisma/generated/

# Turbo
.turbo/

# VSCode
.vscode/
.idea/

# Misc
*.tsbuildinfo
